<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="CadastroDePessoasConfig" connectionString="data source=DIEGO-PC\MSSQLSERVER_1; Integrated Security = SSPI; Initial Catalog = CadastroDePessoas"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
